<h1>Publications</h1>

<ul>
    <% @publications.each do |publication| %>
        <li>
        <%= link_to publication.description, publication %>
        </li>
    <% end %>
<ul>

<%= link_to 'Nueva Publicacion', new_publication_path %>

<%= link_to 'Volver', user_path(current_user.id) %>
