<div id="<%= dom_id request %>">
  <p>
    <strong>User emit:</strong>
    <%= request.user_emit_id %>
  </p>

  <p>
    <strong>User recive:</strong>
    <%= request.user_recive_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= request.status %>
  </p>

</div>
