


<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h1 class="display-4">Bienvenido a "For Students By Students"!</h1>
      <h2>¿Qué quieres hacer?</h2>
    </div>
<<<<<<< HEAD
=======

    <%= link_to 'My Profile', user_path(current_user) %>
    <%= link_to 'Users', users_path %>

>>>>>>> 0519835fb80097269d4fe3d91638a686d3fada3c
  </div>
</main>