<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h1 class="display-4">Hello World!</h1>
    </div>
    <%= link_to 'My Profile', user_path(current_user) %>
    <%= link_to 'Users', users_path %>
  </div>
</main>