<h1><%= @review.feedback %></h1>

<p><%= @review.score %></p>

<ul>
    <li><%= link_to 'Edit', :edit_review %></li>
    <li><%= link_to 'Destroy', :reviews, data: {turbo_method :delete, turbo_confirm: "Are you sure?"} %></li>
</ul>   